* {
  box-sizing: border-box;
}

body {
  background-color: #ffbd00;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.header {
  display: flex;
  flex-direction: row;
  /* align-items: flex-end; */
  /* align-content: flex-end; */
  align-self: flex-end;
  justify-content: space-around;
  margin: 10px;
}

nav {
  display: flex;
  justify-content: space-evenly;
  height: 50px;
  width: 900px;
  float: right;
  margin: 10px 2px;
  padding: 0 auto;
}

nav a {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: flex-end;
  font-size: 1rem;
  padding: 5px 25px;
  background-color: #390099;
  box-shadow: 5px 10px #9e0059;
  color: antiquewhite;
  border-radius: 6px;
  border: 5px solid black;
  font-family: "Arial", sans serif;
  font-weight: bolder;
  margin: 0 auto;
  text-decoration: none;
}

nav a:hover {
  background-color: #5f0f40;
  color: white;
}

/* h1 {
  margin: 20px;
} */

.main-text {
  padding: 0 auto;
  display: flex;
  font-size: 15rem;
  text-align: center;
  justify-content: center;
  /* height: 90vh; */
  /* line-height: 90vh; */
  color: #fcedd8;
  /* color: black; */
  background: #c11a2b;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  text-shadow: 5px 5px 0px #ffbd00, 10px 10px 0px #ff5400, 15px 15px 0px #ff0054,
    20px 20px 0px #9e0059, 25px 25px 0px #503381, 35px 35px 0px #5f0f40,
    35px 35px 0px #c11a2b, 35px 35px 0px #c11a2b, 45px 45px 0px #c11a2b;

  border-radius: 50%;
  border: 10px solid #5f0f40;
  /* I found the code for the shadow effect from Shireen Taj at unblast link: https://codepen.io/TajShireen/pen/abzmoRE
 */
}

#search {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  padding: 2.5px 50px 4px 50px;
  background-color: #9e0059;
  color: white;
  border-radius: 25px;
  font-family: "Arial", sans serif;
  font-weight: bold;
  margin: 25px auto;
  box-shadow: 5px 10px #390099;
  /* border: 5px solid #9e0059; */
}

::placeholder {
  color: #5f0f40;
  font-family: "Arial", sans serif;
  font-weight: bold;
  text-align: center;
}

#blank {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  background-color: white;
  box-shadow: 5px 10px #390099;
  color: #5f0f40;
  border-radius: 25px;
  border: 5px solid #5f0f40;
  font-family: "Arial", sans serif;
  font-weight: bold;
  margin: 0 auto;
}

#search:hover {
  background-color: #5f0f40;
  color: white;
}

#blank:hover {
  background-color: #fcedd8;
  color: #5f0f40;
}

#homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px;
}

#container {
  display: flex;
  align-content: space-around;
  width: 800px;
  color: white;
  height: auto;
  margin: 0 auto;
  position: relative;
  justify-content: center;
}

.display-box-a {
  display: flex;
  position: relative;
  background-color: #9e0059;
  padding: 20px 10px 20px 10px;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  border-radius: 6px;
  height: 50vh;
  width: 50vw;
  border: 10px solid black;
  margin: 50px auto;
  /* font-size: 3rem; */
}

.display-box-b {
  display: flex;
  position: relative;
  background-color: #9e0059;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  border-radius: 6px;
  height: 50vh;
  width: 50vw;
  border: 10px solid black;
  margin: 50px auto;
  /* font-size: 3rem; */
}

/* .container .display-box-c {
  display: grid;
  grid-area: c;
  position: relative;
  background-color: #9e0059;
  padding: 10px 20px;
  padding-bottom: 40%;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  border-radius: 6px;
  height: 550px;
  width: 550px;
  border: 5px solid black;
  margin: 5%;
}

.container .display-box-d {
  display: grid;
  grid-area: d;
  position: relative;
  background-color: #9e0059;
  padding: 10px 20px;
  padding-bottom: 40%;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  border-radius: 6px;
  height: 550px;
  width: 550px;
  border: 5px solid black;
  margin: 5%; */
/* } */
/* 
.resultsDiv #details-container {
  position: relative;
  background-color: blue;
  padding: 10px 20px;
  text-align: center;
  overflow: hidden;
  border-radius: 6px;
  padding-bottom: 140px;
} */

h1 {
  color: white;
  font-weight: bolder;
  font-size: 1rem;
}

h2 {
  color: white;
  font-weight: bolder;
  font-size: 1rem;
}

h3 {
  color: white;
  font-weight: bolder;
  font-size: 1rem;
}

h4 {
  color: white;
  font-weight: bolder;
  font-size: 1rem;
}

#end {
  font-family: "Arial", sans serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 20px;
  font-size: 1rem;
  color: white;
  padding-top: 10%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .main-text {
    font-size: 2rem;
    padding: 0 auto;
    display: flex;
    text-align: center;
    justify-content: center;
    color: #fcedd8;
    background: #c11a2b;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    text-shadow: 5px 5px 0px #ffbd00, 10px 10px 0px #ff5400,
      15px 15px 0px #ff0054, 20px 20px 0px #9e0059;
  }

  #search {
    font-size: 0.5rem;
  }

  #blank {
    font-size: 0.5rem;
  }

  .display-box-a {
    height: 20vh;
    width: 20vw;
  }

  .display-box-b {
    height: 20vh;
    width: 20vw;
  }

  h1 {
    font-size: 1rem;
  }

  h2 {
    font-size: 1rem;
  }

  h3 {
    font-size: 1rem;
  }

  h4 {
    font-size: 1rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .example {
    background: green;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .main-text {
    font-size: 4rem;
  }

  #search {
    font-size: 3rem;
  }

  #blank {
    font-size: 3rem;
  }

  .display-box-a {
    height: 50vh;
    width: 50vw;
  }

  .display-box-b {
    height: 50vh;
    width: 50vw;
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 4rem;
  }

  h4 {
    font-size: 4rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  @media only screen and (max-width: 600px) {
  }

  /* Extra large devices (large laptops and desktops, 1200px and up) */

  @media only screen and (min-width: 1200px) {
    .main-text {
      font-size: 6rem;
    }

    #search {
      font-size: 3rem;
    }

    #blank {
      font-size: 3rem;
    }

    .display-box-a {
      height: 50vh;
      width: 50vw;
    }

    .display-box-b {
      height: 50vh;
      width: 50vw;
    }

    h1 {
      font-size: 6rem;
    }

    h2 {
      font-size: 6rem;
    }

    h3 {
      font-size: 6rem;
    }

    h4 {
      font-size: 6rem;
    }
  }
}
