* {
  box-sizing: border-box;
}

body {
  background-color: light;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

h1 {
  margin: 20px;
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 400px;
}

#parent-container h1 {
  color: white;
  background-color: rgb(237, 179, 156);
  border: 2px solid black;
  border-radius: 6px;
  padding: 10px;
  height: 100px;
  width: 100px;
}

.search-section {
  background-color: rgb(220, 255, 252);
  border: 2px solid black;
}

.container .display-box {
  /* background-color: yellow; */
}

.container {
  /* background-color: green; */
  font-weight: bold;
  font-size: 26px;
}

.container .display-box h1 {
  color: indigo;
}

h2 {
  color: black;
}

#end {
  display: flex;
  justify-content: center;
  align-items: center;
}
