* {
  box-sizing: border-box;
}

body {
  background-color: #ffbd00;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

h1 {
  margin: 20px;
}

.main-text {
  display: flex;
  font-size: 15rem;
  text-align: center;
  justify-content: center;
  /* height: 90vh; */
  /* line-height: 90vh; */
  color: #fcedd8;
  background: #c11a2b;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  text-shadow: 5px 5px 0px #ffbd00, 10px 10px 0px #ff5400, 15px 15px 0px #ff0054,
    20px 20px 0px #9e0059, 25px 25px 0px #390099, 35px 35px 0px #5f0f40,
    35px 35px 0px #c11a2b, 35px 35px 0px #c11a2b, 45px 45px 0px #c11a2b;

  border-radius: 6px;
  border: 10px solid #5f0f40;
  /* I found the code for the shadow effect from Shireen Taj at unblast link: https://codepen.io/TajShireen/pen/abzmoRE
 */
}

#search {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  padding: 5px 100px 8px 100px;
  background-color: #9e0059;
  color: white;
  border-radius: 25px;
  font-family: "Arial", sans serif;
  font-weight: bold;
  margin: 25px auto;
  box-shadow: 5px 10px #390099;
  /* border: 5px solid #9e0059; */
}

::placeholder {
  color: #5f0f40;
  font-family: "Arial", sans serif;
  font-weight: bold;
  text-align: center;
}

#blank {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  padding: 5px 25px;
  background-color: white;
  box-shadow: 5px 10px #390099;
  color: #5f0f40;
  border-radius: 25px;
  border: 5px solid #5f0f40;
  font-family: "Arial", sans serif;
  font-weight: bold;
  margin: 0 auto;
}

#search:hover {
  background-color: #5f0f40;
  color: white;
}

#blank:hover {
  background-color: #fcedd8;
  color: #5f0f40;
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px;
}

#parent-container h1 {
  color: white;
  background-color: rgb(237, 179, 156);
  border: 2px solid black;
  border-radius: 6px;
  padding: 10px;
  height: 100px;
  width: 100px;
}

.search-section {
  /* background-color: rgb(220, 255, 252); */
  /* border: 2px solid black; */
}

.container .display-box {
  /* background-color: yellow; */
}

.container {
  /* background-color: green; */
  font-weight: bold;
  font-size: 26px;
}

.container .display-box h1 {
  color: indigo;
}

h2 {
  color: black;
}

#end {
  font-family: "Arial", sans serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

nav a {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: flex-end;
  font-size: 1.2rem;
  padding: 5px 25px;
  background-color: #c11a2b;
  /* box-shadow: 5px 10px #390099; */
  color: white;
  border-radius: 6px;
  border: 5px solid black;
  font-family: "Arial", sans serif;
  font-weight: bolder;
  margin: 0 auto;
  text-decoration: none;
}
